<div class="card">
  <h3 class="card-header">
    Home page
  </h3>
  <div class="card-body">
    <h1>Basic Angular Service</h1>
    <p>เรียนรู้เรื่องของ Service</p>
    <hr />

    <h1>หน้าหลัก</h1>
    <div class="row">
      <div class="col">
        <app-comp1>
          <h3>App Component 1</h3>
        </app-comp1>
      </div>
      <div class="col">
        <app-comp2>
          App Component 2
        </app-comp2>
      </div>
    </div>
  </div>
</div>
