<h3>Component 1</h3>
<div class="card" *ngIf="formData">
  <div class="card-header">แสดงข้อมูลจาก Form</div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <label>เพศ: </label>
        </div>
        <div class="col">{{ formData?.sex }}</div>
      </div>

      <div class="row">
        <div class="col">
          <label>ชื่อ: </label>
        </div>
        <div class="col">{{ formData?.firstName }}</div>
      </div>

      <div class="row">
        <div class="col">
          <label>นามสกุล: </label>
        </div>
        <div class="col">{{ formData?.lastName }}</div>
      </div>

      <div class="row">
        <div class="col">
          <label>เบอร์โทร: </label>
        </div>
        <div class="col">
          <div *ngFor="let phone of formData?.phones; let i = index" style="list-style: none">
            {{ (i + 1) + '. ' + phone }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
