<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      routerLinkActive="link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Basic Angular
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/data"
            routerLinkActive="link-active"
          >
            Data
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/sign-up"
            routerLinkActive="link-active"
          >
            Sign up
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/sign-in"
            routerLinkActive="link-active"
          >
            Sign in
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/profile"
            routerLinkActive="link-active"
            >Profile</a
          >
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
