<div class="card bg-light mb-3">
  <h3 class="card-header">Component 2</h3>
  <form (submit)="onSubmit()" [formGroup]="form">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="lb-sex">เพศ:</label>
            <div class="form-check form-check-inline">
              <input
                id="male"
                type="radio"
                class="form-check-input"
                value="ชาย"
                formControlName="sex"
              />
              <label for="male" class="form-check-label">ชาย</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                id="female"
                type="radio"
                class="form-check-input"
                value="หญิง"
                formControlName="sex"
              />
              <label for="female" class="form-check-label">หญิง</label>
            </div>
            <div [appValidation]="form.get('sex')">กรุณาระบุเพศ</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="first-name">ชื่อ:</label>
            <input
              id="first-name"
              type="text"
              class="form-control"
              formControlName="firstName"
            />
            <div [appValidation]="form.get('firstName')">กรุณาระบุชื่อ</div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="last-name">นามสกุล:</label>
            <input
              id="last-name"
              type="text"
              class="form-control"
              formControlName="lastName"
            />
            <div [appValidation]="form.get('lastName')">กรุณาระบุนามสกุล</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="tel">เบอร์โทร:</label>
            <div *ngFor="let control of getPhoneFields().controls">
              <input
                type="text"
                id="tel"
                class="form-control"
                [formControl]="control"
              />
              <div [appValidation]="control"></div>
            </div>
          </div>
          <div class="float-right add-or-remove-field">
            <a class="text-primary" (click)="onAddPhoneField()">
              <u><small>เพิ่มเบอร์โทร</small></u>
            </a>
            <span> | </span>
            <a class="text-danger" (click)="onRemovePhoneField()">
              <u><small>ลบเบอร์โทร</small></u>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <button
            type="submit"
            *ngIf="!isLoading; else loading"
            class="btn btn-block btn-warning"
          >
            บันทึกข้อมูล
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-block btn-danger"
            (click)="form.reset()"
          >
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #loading>
  <button type="submit" disabled="disabled" class="btn btn-block btn-warning">
    กำลังโหลด...
  </button>
</ng-template>
