<div class="card">
  <h3 class="card-header">
    Data Page
  </h3>
  <div class="card-body">
    <div *ngIf="beautifiedUsers !== '[]'" class="form-group">
      <p class="text-primary">ยินดีต้อนรับเข้าสู่ระบบ</p>
      <div class="form-group">
        <label for="user-info">ข้อมูลผู้ใช้ของคุณคือ: </label>
        <textarea
          id="user-info"
          class="form-control"
          disabled
          [value]="beautifiedUsers"
          rows="7"
        ></textarea>
      </div>
    </div>
  </div>
</div>
